<html>
  <head>
    <title>Vision Coders</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="assets/css/bootsnav.css" media="all" />
		<!-- Bootstrap -->
		<link rel="stylesheet"  href="assets/bootstrap/css/bootstrap.min.css" media="all" />
		<!-- Style CSS -->
		<link rel="stylesheet" type="text/css" href="style.css" media="all" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<!-- images -->
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

<script src="http://media.mq.edu.au/mas240/js/gallery.js"></script>
		
		
	
	
	
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Neuron Finance is a finance, corporate and business HTML template">
        <meta name="keywords" content="advisor, corporate accountant, finance, financial, insurance, investment, consultation">
        <meta name="author" content="trendytheme.net">

	
	 <!--  favicon -->
        <link rel="shortcut icon" href="assets/img/ico/favicon.png">
        <!--  apple-touch-icon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">

		<!-- animate CSS -->
		<link rel="stylesheet" href="assets/css/animate.min.css" media="all" />
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css" media="all" />
		<!-- Owl Carousel -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" media="all" />
		<!-- Bootsnav Menu -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" media="all" />
		<!-- Bootstrap -->
		<link rel="stylesheet"  href="assets/bootstrap/css/bootstrap.min.css" media="all" />
		<!-- Style CSS -->
		

	
	
	
<style>	

#rcorners3 {
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

#rcorners4 {
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 
	
	
<!-- bootsrap  -->
.row-flex {
  display: flex;
  flex-wrap: wrap;
}

<!-- /* Demo backgrounds and styling*/  -->

.colour-1 {
  background: #483C46;
  color: #fff;
}
<!-- links  -->
.rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
</style>
</head>

 <body style="background-color:powderblue;">
  <div class="container-fluid">
  <div class="row">
  
    <h1 style="text-align: center ; font-family: cursive">Vision Coders</h1>
	
	</div> 
	<!-- Start Header Navigation -->
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
	                        <i class="fa fa-bars"></i>
	                    </button>
					<a class="navbar-brand" href="index.html"><img src="{{url_for('static', filename='logo.png')}}" class="logo logo-scrolled" alt=""></a>	
	                    
	                </div>
	                <!-- End Header Navigation -->

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="navbar-menu">
	                    <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
	                        
	                        <li><a href="#about">About Us</a></li>
	                        <li><a href="contact.html">Contact us</a></li>
	                    </ul>
	                </div><!-- /.navbar-collapse -->
	            </div>
	        </nav>
	        <!-- End Navigation -->
	        <div class="clearfix"></div>
		</header> <!-- end header -->

	<!-- part for division-->
	
	<section class="section-padding darker-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
						<div class="intro-title text-center">
							<h2>Welcome to Adavnced E-learnign site</h2>
							<div class="hidden-xs">
								<p>Interactive and easy site with all authorized data and fully transaprent. Experience an excellent class experience.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single intro -->
					<div class="col-md-6">
						<div class="single-intro">
							<div class="intro-img intro-bg3"></div>
							<div class="intro-details text-center">
								<a href="index2.html"><h3>Class Session</h3></a>
								<p>For use of regular class sessions and avoid unnecessory distraction while attending lectures.</p>
							</div>
						</div>
					</div>
				
			
					
					<div class="right1">
					<div class="col-md-6">
						<div class="single-intro">
							<div class="intro-img intro-bg3"></div>
							<div class="intro-details text-center">
								<a href="index1.html"><h3> Exam</h3></a>
								<p>Only use for students when taking an exam to enforce academic integrity </p>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section><!-- intro area end -->
		<div id="about">
		<section class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="block-text">
							<h2> We thrive to give the best solution to increase academic integrity </h2>
							<p>Seamlessly communicate distinctive alignments and model.It is simple and user friendly system.
							   Also help the proctor to invigilatge properly and efficiently.Maintain a standards of universities even on online  plateform.</p> 
							
							<p> </p>
						</div>
					</div>
					<div class="col-md-6">
					
					</div>
				</div>
			</div>
		</section><!-- block area end -->
	</div>
		
	<footer>
	<div class="copyright-wrapper text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>Copyright@2020 Vision coders Inc. All Rights Reserved. </p
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- ./end copyright-wrapper -->
		</footer>

	
  </body>
</html>
